a.no-underline {text-decoration: none;}
.poem {text-align: center;}
.poem .author {margin-left: 10em;}
.footer, .footer a {
	color: rgb(173,173,173);
	text-decoration: none;
}
.entry img { max-width: 100%; width: 100%; border-radius: 15px;}
.entry tr { line-height: 1;}
.entry td { padding: 8px 15px;}
.entry tfoot { font-weight: bold; border-top-width: 2px; border-top-style: solid;}

.entry img.formula { max-width: 100%; width: auto !important; border-radius: 0px;}

.archive .badge {
	background-color: #777777;
	padding: .2em .6em .3em;
	font-size: 75%;
	color: #fff;
	border-radius: .25em;
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.archive .badge.rn40 { background-color: #8fa0ff; }
.archive .badge.cuentos { background-color: #d98e81;}
.archive .badge.varios { background-color: #bfa5f0; }
.archive .badge.reflexiones { background-color: #7fbc67; }
.archive .badge.cartas { background-color: #84b86a; }
.archive .badge.selected { text-decoration: underline; }

.project img.help {
    max-width: 50% !important;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.project img.helpSideToSide {
    max-width: 40% !important;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.project.cronito {
    background-color: #36404A;
    color: #AACAE9;
 }

.project.cronito code { color: #222; }
.project.cronito p { font-size: 1.2em }
.project.cronito .comments h5 {
    font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem;
    font-style: italic;
}
