a.no-underline {text-decoration: none;}
.poem {text-align: center;}
.poem .author {margin-left: 10em;}
.footer, .footer a {
	color: rgb(173,173,173);
	text-decoration: none;
}
.entry img { max-width: 100%; width: 100%; border-radius: 15px;}
.entry tr { line-height: 1;}
.entry td { padding: 8px 15px;}
.entry tfoot { font-weight: bold; border-top-width: 2px; border-top-style: solid;}

.entry img.formula { max-width: 100%; width: auto !important; border-radius: 0px;}