<!-- FOOTER -->
<!-- TODO: IMPROVE -->
<hr/>
<div class="row">
<div class="three columns">&nbsp;</div>
<div class="nine columns">
  <span>
	<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
  </span>
  <span>Página creada por <a xmlns:cc="http://creativecommons.org/ns#" href="{{site.base_url}}/about" property="cc:attributionName" rel="cc:attributionURL">{{ site.author }}</a></span>,
  <span>usando <a href="http://getskeleton.com/">Skeleton</a></span>,
  <span>alojada en <a href="http://github.com">Github</a></span>.
</div>
