<!-- FOOTER -->
<!-- TODO: IMPROVE -->
<hr/>
<div class="row">
<div class="three columns">&nbsp;</div>
<div class="nine columns">
  <div class="footer">
    <span>Página creada por <a xmlns:cc="http://creativecommons.org/ns#" href="{{site.base_url}}/about" property="cc:attributionName" rel="cc:attributionURL">{{ site.author }}</a></span>,
    <span>usando <a href="http://getskeleton.com/">Skeleton</a></span>,
    <span>alojada en <a href="http://github.com">Github</a></span>.
    <span><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia CC BY 4.0</a></span>
  </div>
</div>
