{% include html-head.html %}
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        {{ content }}
      </div>
      <div class="two columns">&nbsp;</div>
    </div>

    {% include footer.html %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
