{% include html-head.html %}
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="four columns">
        <ul>
          {% for post in site.posts limit:site.sidebar.posts %}
            <li>{{ post.date | date: "%d-%m-%Y" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          <li><a href="{{site.base_url}}/archive">Archivo</a></li>
        </ul>
      </div>
      <div class="eight columns">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
