{% include html-head.html %}
{% include authorDef.html %}
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        <h2>{{ page.title }}</h2>

        <div class="entry imageGallery">{{ content }}</div>
        <div style="text-align:right">
          <a href="{{site.base_url}}/about">{{author.name}}</a> - <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
        </div>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>

    {% include footer.html %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>